node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.nyc_output
coverage
.nyc_output
.vscode
.DS_Store
*.log

# Don't copy credentials by default (they go in the volume)
# Remove this line if you want to include credentials in the container
credentials/